body {
    background-color: cyan;
}

div {
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 10px;
}

img {
    height: 300px;
    width: 300px;
    object-fit: scale-down;
}